[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrew Donnelly (Dinalli)
[access "refs/for/refs/*"]
	read = group user/Andrew Donnelly (Dinalli)
	push = group user/Andrew Donnelly (Dinalli)
	label-Code-Review = -2..+2 group user/Andrew Donnelly (Dinalli)
	label-Verified = -1..+1 group user/Andrew Donnelly (Dinalli)
	rebase = group user/Andrew Donnelly (Dinalli)
	removeReviewer = group user/Andrew Donnelly (Dinalli)
	submit = group user/Andrew Donnelly (Dinalli)
[access "refs/heads/*"]
	read = group user/Andrew Donnelly (Dinalli)
	create = group user/Andrew Donnelly (Dinalli)
	push = +force group user/Andrew Donnelly (Dinalli)
	pushMerge = group user/Andrew Donnelly (Dinalli)
[access "refs/tags/*"]
	push = +force group user/Andrew Donnelly (Dinalli)
	pushTag = group user/Andrew Donnelly (Dinalli)
	pushSignedTag = group user/Andrew Donnelly (Dinalli)
