<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Melbourne</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string>Albert Park</string>
		<key>Long</key>
		<string>144.968333</string>
		<key>Lat</key>
		<string>-37.849722</string>
		<key>Laps</key>
		<string>59</string>
		<key>Distance</key>
		<string>3.29</string>
	</dict>
	<key>Maylasia</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>56</string>
		<key>Distance</key>
		<string>3.44</string>
	</dict>
	<key>China</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>56</string>
		<key>Distance</key>
		<string>3.38</string>
	</dict>
	<key>Bahrain</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>57</string>
		<key>Distance</key>
		<string>3.36</string>
	</dict>
	<key>Barcalona</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>66</string>
		<key>Distance</key>
		<string>2.89</string>
	</dict>
	<key>Monaco</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>78</string>
		<key>Distance</key>
		<string>2.07</string>
	</dict>
	<key>Canada</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>70</string>
		<key>Distance</key>
		<string>2.71</string>
	</dict>
	<key>Silverstone</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>52</string>
		<key>Distance</key>
		<string>3.66</string>
	</dict>
	<key>Germany</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>60</string>
		<key>Distance</key>
		<string>3.19</string>
	</dict>
	<key>Hungary</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>70</string>
		<key>Distance</key>
		<string>2.72</string>
	</dict>
	<key>Belgium</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>44</string>
		<key>Distance</key>
		<string>4.35</string>
	</dict>
	<key>Italy</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>53</string>
		<key>Distance</key>
		<string>3.6</string>
	</dict>
	<key>Singapore</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>61</string>
		<key>Distance</key>
		<string>3.14</string>
	</dict>
	<key>Korea</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>55</string>
		<key>Distance</key>
		<string>3.49</string>
	</dict>
	<key>Japan</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>3.60</string>
		<key>Distance</key>
		<string>53</string>
	</dict>
	<key>India</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>60</string>
		<key>Distance</key>
		<string>3.18</string>
	</dict>
	<key>Abu Dhabi</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>55</string>
		<key>Distance</key>
		<string>3.451</string>
	</dict>
	<key>USA</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>56</string>
		<key>Distance</key>
		<string>3.42</string>
	</dict>
	<key>Brazil</key>
	<dict>
		<key>mapimage</key>
		<string></string>
		<key>trackimage</key>
		<string></string>
		<key>flag</key>
		<string></string>
		<key>trackname</key>
		<string></string>
		<key>Long</key>
		<string></string>
		<key>Lat</key>
		<string></string>
		<key>Laps</key>
		<string>71</string>
		<key>Distance</key>
		<string>2.677</string>
	</dict>
</dict>
</plist>
